
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/Playwright/downloads
Playwright/tests/downloads
/allure-report
/allure-results
/downloads
/downloads/*
/eng.traineddata
/package-lock.json
